@use "../abstracts/variables";

.fastContact{
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    z-index: 99;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 45rem;
    background-color: #51b167;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;


    &-img{
        max-width: 60%;
        margin: 0 0 .1rem .05rem;
    }
    &-textoLlamaAccion{
        text-align: center;
        position: absolute; 
        padding: .2rem 0rem .3rem 0;
        border-radius: 25rem;
        font-family: variables.$fontBase;
        left: -15.5rem;
        width: 15rem;
        background-color: rgba(255, 255, 255, 0);
        color: rgba(0, 0, 0, 0);
        border: .1px solid rgba(228, 227, 227, 0);
        visibility: hidden;
        word-wrap: break-word;
        
        animation-duration: 7s;
        animation-delay:4s;
        animation-name: fastContact;
        @keyframes fastContact {
            from {
                background-color: rgba(255, 255, 255, 0);
                color: rgba(0, 0, 0, 0);
                border: .1px solid rgba(228, 227, 227, 0);
                visibility: visible;
            }
            10%{
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                border: .1px solid rgb(228, 227, 227);
            }
            85%{
                background-color:  rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                border: .1px solid rgb(228, 227, 227);
            }
            to {
                background-color: rgba(255, 255, 255, 0);
                color: rgba(0, 0, 0, 0);   
                border: .1px solid rgba(228, 227, 227, 0);
                display: none;    
            }
        }  
    }
}
