@use "../abstracts/variables";

.bodyMenuVirtual{
    background-color: variables.$blanco;
}

.menuImagenes{
    min-width: 340px;
    max-width: 700px;
    background-color: variables.$blanco;
    padding: 2rem 1rem 0rem 1rem;
    margin: auto;
    &-img{
        width: 100%;
    }
    &-download{
        background-color:rgb(243, 243, 243);
        font-family: variables.$fontBase;
        padding: 1.5rem;
        margin-top: -5px;
        text-align: center;
        font-size: 1.3rem;
        color: #a0d995;
        text-decoration: none;
        display: block;
        width: 100%;
    }
}

.deliveriAction{

    border: 1px solid rgb(232, 232, 232);
    min-width: 310px;
    max-width: 660px;
    height: auto;
    margin: 2rem 1rem;
    @media (min-width :48rem) { // 768px
        margin: 2rem auto;
    }
    border-radius: 8px;
    &-cabecera{
        background-color: rgb(232, 232, 232);
        height: 2.9rem;
        border-radius: 8px 8px 0 0;
        display: flex;
        align-items: center;
        padding: 0 .9rem;
        &-img{
            width: 6.5rem;
            position: relative;
            margin-right: .6rem;
            // top: -2rem;
            // left: .8rem;
        }
        &-p{
            font-family: variables.$fontBase;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.736);
            margin-top: .2rem;
            &::before{
                content: "|";
                margin-right: .6rem;
                position: relative;
                top: -.1rem;
                height: 1rem;
                width: .09rem;
            }
        }
    }
    &-cuerpo{
        padding: 1rem;
        &-h6{
            font-family: variables.$fontBase;
            font-size: .83rem;
            color: rgba(0, 0, 0, 0.733);
            margin: 0 0 .7rem .1rem;
            font-weight: 500;
        }
        &-button{
            font-family: variables.$fontBase;
            text-decoration: none;
            font-size: .8rem;
            padding: .3rem .6rem;
            display: inline-block;
            border-radius: 23px;
            font-weight: 600;
        }
        &-buttonWhatsApp{
            color:#3fc060 ;
            border: 1px solid  #3fc060;
        }
        &-buttonPedidosYa{
            color:#EF7F66;
            border: 1px solid  #EF7F66;
        }
    }
}



